<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTSgJIiP8RZOxoUb1wjvi4x9k2WiHKsiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>190226247499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xubenx.icredit</string>
	<key>PROJECT_ID</key>
	<string>icreditmx69</string>
	<key>STORAGE_BUCKET</key>
	<string>icreditmx69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190226247499:ios:ae841a852a10aff96042ce</string>
</dict>
</plist>